[*.cs]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0002: Simplify Member Access
dotnet_diagnostic.IDE0002.severity = none

# IDE0045: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_assignment = true

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = none
